<!DOCTYPE html>
<html lang="zn-CN">
<head>
    <meta charset="UTF-8">
    <title>dd's贴吧注册</title>
    <script src="../../static/script/jquery-1.7.2.js"></script>
    <script>

        $(function () {
            //获取验证码
            $("#getCode").click(function () {
                let email = $("#email").val();
                let url = "/sendEmail";
                //设置请求参数
                let param = {
                    "send":email,
                    "kind":"email"
                };
                //发送Ajax请求
                $.post(url,param,function (res) {
                    //将显示提示信息的span元素显示
                    $("#msg").show();
                    //将响应信息设置到span元素中
                    $("#msg").html(res);
                });
            });
            //给注册按钮绑定单击事件
            $("#sub_btn").click(function () {
                //获取用户名
                let username = $("#username").val();
                //验证用户名的正则表达式只能包含字母数字下划线和减号，4到16位
                let usernameReg = /^[A-Za-z0-9_-]{3,16}$/;
                //验证是否符合规则
                let flag = usernameReg.test(username);
                if(!flag){
                    alert("请输入3-16位的字母、数字、下划线或减号的用户名！");
                    return false;
                }
                //获取密码
                let password = $("#password").val();
                //验证密码的正则表达式
                let passwordReg = /^[a-zA-Z0-9_-]{6,18}$/;
                if(!passwordReg.test(password)){
                    alert("请输入6-18位的字母、数字、下划线或减号的密码！");
                    return false;
                }
                //获取用户输入的确认密码
                let repwd = $("#repwd").val();
                if(repwd == ""){
                    alert("确认密码不能为空！");
                    return false;
                }
                //判断两次密码是否一致
                if(repwd != password){
                    alert("两次输入的密码不一致！");
                    return false;
                }
                //获取用户输入的邮箱
                let email = $("#email").val();
                //设置邮箱的正则表达式
                let emailReg = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                if(!emailReg.test(email)){
                    alert("邮箱格式不正确！");
                    return false;
                }
                //获取用户的验证码
                let codeInput = $("#codeInput").val();
                if(codeInput == ""){
                    alert("验证码不能为空！");
                    return false;
                }
            });
            //将显示错误提示信息的span标签隐藏
            $("#msg").hide();

            //发送Ajax请求验证用户名是否存在
            //给输入用户名的文本框绑定change事件
            $("#username").change(function () {
                //获取用户输入的用户名
                let username = $(this).val();
                //设置请求地址
                let url = "/checkUserNameOrEmail";
                //设置请求参数
                let param = {
                    "check":username,
                    "kind":"userName"
                };
                //发送Ajax请求
                $.post(url,param,function (res) {
                    //将显示提示信息的span元素显示
                    $("#msg").show();
                    //将响应信息设置到span元素中
                    $("#msg").html(res);
                });
            });
            //发送Ajax请求验证邮箱是否存在
            //给输入邮箱的文本框绑定change事件
            $("#email").change(function () {
                //获取用户输入的用户名
                let email = $(this).val();
                //设置请求地址
                let url = "/checkUserNameOrEmail";
                //设置请求参数
                let param = {
                    "check":email,
                    "kind":"email"
                };
                //发送Ajax请求
                $.post(url,param,function (res) {
                    //将显示提示信息的span元素显示
                    $("#msg").show();
                    //将响应信息设置到span元素中
                    $("#msg").html(res);
                });
            });
            //发送Ajax请求验证验证码是否正确
            //给输入验证码的文本框绑定change事件
            $("#codeInput").change(function () {
                //获取用户输入的验证码
                let codeInput = $(this).val();
                let email = $("#email").val();
                //设置请求地址
                let url = "/checkCode";
                //设置请求参数
                let param = {
                    "codeInput":codeInput,
                    "address":email,
                    "kind":"email"
                };
                //发送Ajax请求
                $.post(url,param,function (res) {
                    //将显示提示信息的span元素显示
                    $("msg").show();
                    //将响应信息设置到span元素
                    $("#msg").html(res);
                });
            });
        });
        
    </script>
</head>
<body>
    <div class="tit">
        <h1>注册贴吧账号</h1>
        <span class="errorMsg" id="msg">{{.}}</span>
    </div>
    <br>
    <div class="form">
        <form action="/regist" method="post">
            用户名称：
            <input class="itxt" type="text" autocomplete="off" tabindex="1" name="username" id="username"/>
            <br/>
            <br/>
            用户密码：
            <input class="itxt" type="password" autocomplete="off" tabindex="1" name="password" id="password"/>
            <br/>
            <br/>
            确认密码：
            <input class="itxt" type="password" autocomplete="off" tabindex="1" name="repwd" id="repwd"/>
            <br/>
            <br/>
            电子邮箱：
            <input class="itxt" type="text" autocomplete="off" tabindex="1" name="email" id="email"/>
            <br/>
            <br/>
            验证码：
            <input class="itxt" type="text" autocomplete="off" tabindex="1" name="codeInput" id="codeInput"/>
            <input type="button" value="发送验证码" id="getCode" />
            <br/>
            <br/>
            <br/>
            <input type="submit" value="注册" id="sub_btn"/>
        </form>
    </div>
</body>
</html>