<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请成为好友消息</title>
</head>
<body>
<span class="errorMsg" id="msg" style="display: none" >{{.}}</span>
    <span>收到的申请成为好友消息</span>
    &nbsp;&nbsp;&nbsp;
    <a href="/index">首页</a>
    <br/>
    <br/>
    {{range.}}
    <a href="/look_user?userName={{.UserName}}">{{.UserName}}</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/isAgreeToMakeFriend?friendID={{.UserID}}&kind=agree">同意</a>
    &nbsp;&nbsp;&nbsp;
    <a href="/isAgreeToMakeFriend?friendID={{.UserID}}&kind=disagree">拒绝</a>
    <br/>
    <br/>
    {{end}}
</body>
</html>